#!/bin/bash

#path to java
JAVA="java"

#Settings used for Java
SET_VAR="-jar -XX:+UseSerialGC -Xmx8G"

##Settings for VCFTools

#TODO 

#need to make non hard coded path

export PERL5LIB="/usr/local/vcftools_0.1.11/perl:$PERL5LIB"



### Additional programs for assembly module

SHUFFLE="/usr/local/velvet_1.2.10/contrib/shuffleSequences_fasta/shuffleSequences_fastq.pl";

##TO do 
# needs to be included as an optional multiple kmer scenario 
ASSASS="/usr/local/velvet_1.2.10/contrib/AssemblyAssembler1.3/AssemblyAssembler1.3.py";

VELVET_PATH="/usr/local/velvet_1.2.10";
CONVERT_PROJECT="/home/dsarovich/bin/convert_project";
ABACAS="/home/dsarovich/bin/PAGIT/ABACAS/abacas.pl";
VELVETH="/usr/local/velvet_1.2.10/velveth";
VELVETG="/usr/local/velvet_1.2.10/velvetg";
TRIM="/usr/local/Trimmomatic-0.35/trimmomatic-0.35.jar";
VELVETOPT="/home/dsarovich/bin/velvet_1.2.10/contrib/VelvetOptimiser-2.2.4/VelvetOptimiser.pl"

IMAGE="/home/dsarovich/bin/IMAGE_version2.4/";
ICORN2_HOME="/home/dsarovich/bin/ICORN2/";
export ICORN2_HOME
SSPACE="/home/dsarovich/bin/SSPACE-BASIC-2.0_linux-x86_64/SSPACE_Basic_v2.0.pl";

PAGIT_HOME="/home/dsarovich/bin/PAGIT";
