#!/bin/bash

## Please provide the path to the MGAP install
## The path to other executables can be edited below 


MGAP_LOCATION="/path/to/mgap/MGAP---Microbial-Genome-Assembler-Pipeline"

# perl requirements
# Some of the programs included in MGAP require bioperl. Please make sure the perl in your PATH has access to bioperl
#export PERL5LIB="/home/dsarovich/perl5/perlbrew/perls/perl-5.22.1/lib/5.22.1/:$PERL5LIB"


#path to java
JAVA="java"

#Settings used for Java
SET_VAR="-jar -XX:+UseSerialGC -Xmx8G"


SHUFFLE="$MGAP_LOCATION/bin/velvet_1.2.10/contrib/shuffleSequences_fasta/shuffleSequences_fastq.pl";


CONVERT_PROJECT="$MGAP_LOCATION/bin/convert_project";
ABACAS="$MGAP_LOCATION/bin/abacas.1.3.1.pl";
VELVETH="$MGAP_LOCATION/bin/velvet_1.2.10/velveth";
VELVETG="$MGAP_LOCATION/bin/velvet_1.2.10/velvetg";
TRIM="$MGAP_LOCATION/bin/Trimmomatic-0.35/trimmomatic-0.35.jar";
VELVETOPT="$MGAP_LOCATION/bin/velvet_1.2.10/contrib/VelvetOptimiser-2.2.4/VelvetOptimiser.pl"

IMAGE="$MGAP_LOCATION/bin/IMAGE_version2.4";
ICORN2_HOME="$MGAP_LOCATION/bin/ICORN2/";
SSPACE="$MGAP_LOCATION/bin/SSPACE-BASIC-2.0_linux-x86_64/SSPACE_Basic_v2.0.pl";

