params {

    fastq               =   "*_{1,2}_sequence.fastq.gz"
    ref                 =   "Pa_PAO1.fasta"
    strain              =   "all"
    executor            =   "local"
	notrim				=	true
	kraken				=	false
}

includeConfig 'configs/nextflow_dependencies.config'

process {
    if(params.executor != "local") {
        conda = "$CONDA_PREFIX"
    }
    executor = params.executor


    errorStrategy = "retry"
	maxRetries = 4

    withLabel: index {
        cpus = 2
        memory ="4G"
        time = "2h"
    }
	   
	   withLabel: trimmomatic {
        cpus = 23
        memory ="30G"
        time = "24h"
    }

    withLabel: assembly {
        cpus = 23
        memory ="30G"
        time = "24h"
    }

    withLabel: kraken {
        cpus = 23
        memory ="30G"
        time = "24h"
    }
}

manifest {
    homePage = 'http://github.com/dsarov/MGAP---Microbial-Genome-Assembler-Pipeline'
    description = 'A Microbial Genome Assembly Pipeline'
    mainScript = 'main.nf'
    version = '2.0'
}
