params {
    fastq           =   "*_{1,2}.fastq.gz"
    ref             =   false
    strain          =   "all"
    executor        =   "local"
    notrim          =   false
    image           =   true
    spades          =   false
}


conda.enabled = true

process {
    if(params.executor != "local") {
        conda = "$CONDA_PREFIX"
    }
    executor = params.executor

    clusterOptions = "-A qris-usc"
    clusterOptions = "--partition=general"	


    errorStrategy = "retry"
    maxRetries = 4

    withLabel: index {
        cpus = 2
        memory ="4G"
        time = "2h"
    }
       
    withLabel: fastp {
        cpus = 4
        memory ="30G"
        time = "24h"
    }

    withLabel: assembly {
        cpus = 8
        memory = { 64.GB * task.attempt } 
        time = "24h"
    }
	
    withLabel: checkm {
        cpus = 2
        memory = { 64.GB * task.attempt } 
        time = "24h"
    }
	
    withLabel: kraken {
        cpus = 4
        memory ="30G"
        time = "24h"
    }
}

manifest {
    homePage = 'http://github.com/dsarov/MGAP---Microbial-Genome-Assembler-Pipeline'
    description = 'A Microbial Genome Assembly Pipeline'
    mainScript = 'main.nf'
    version = '3.0'
}