// This file is sourced as part of the nextflow mgap pipeline and will tell mgap the location of all dependencies
// If you wish to use diffierent software installations, or have issues with the distributed dependencies then please change the paths below


//Gapfiller and SSPACE require getopts.pl as part of their dependencies. This library is not included as part of the default perl5 distribution as it is fairly outdated. Installing perl4 corelibs should fix the issue


params {

PERL5LIB="/home/dsarovich/.cpan/build/Perl4-CoreLibs-0.004-0/lib/"

TRIMMOMATIC="java -jar ${baseDir}/bin/trimmomatic-0.39.jar";


VelvOpt="${baseDir}/bin/velvet_1.2.10/contrib/VelvetOptimiser-2.2.4/VelvetOptimiser.pl"
SHUFFLE="${baseDir}/bin/velvet_1.2.10/contrib/shuffleSequences_fasta/shuffleSequences_fasta.pl"
IMAGE="${baseDir}/bin/IMAGE_version2.4"
GAPFILLER="${baseDir}/bin/GapFiller_v1-10_linux-x86_64/GapFiller.pl"
ABACAS="${baseDir}/bin/abacas.1.3.1.pl"
SSPACE="${baseDir}/bin/SSPACE-BASIC-2.0_linux-x86_64/SSPACE_Basic_v2.0.pl";
CONVERT_PROJECT="${baseDir}/bin/convert_project";
PILON="java -jar ${baseDir}/bin/pilon-1.24.jar"




// These software packages are now installed as part of the conda distribution and shouldn't be required


//VELVETH="velveth";
//VELVETG="velvetg";
//BWA="$MGAP_LOCATION/bin/bwa";
//SAMTOOLS="$MGAP_LOCATION/bin/samtools";


}